@use 'src/components/variables';

$colors: ('unselected', #a9a9a9, black),
        ('selected', #e6194B, white),
        ('1', #3cb44b, white),
        ('2', #ffe119, black),
        ('3', #4363d8, white),
        ('4', #f58231, white),
        ('5', #911eb4, white),
        ('6', #42d4f4, black),
        ('7', #f032e6, white),
        ('8', #bfef45, black),
        ('9', #fabed4, black),
        ('10', #469990, white),
        ('11', #dcbeff, black),
        ('12', #9A6324, white),
        ('13', #fffac8, black),
        ('14', #808000, white),
        ('15', #aaffc3, black),
        ('16', #000075, white),
        ('17', #ffd8b1, black),
        ('18', #d20f0f, white);

@each $color in $colors {
  .t#{nth($color, 1)} {
    background-color: nth($color, 2);
    color: nth($color, 3);
  }

  .t#{nth($color, 1)} rect {
    fill: nth($color, 2);
  }

  .t#{nth($color, 1)} text {
    fill: nth($color, 3);
  }
}

#grid {
  display: grid;
  grid-template-columns: repeat(variables.$cols, 1fr);
}

#grid button {
  width: 2em;
  height: 2em;
  padding: 0;
  border: none;
  background-color: transparent;
}

.letter {
  font-size: 50pt;
  dominant-baseline: central;
  text-anchor: middle;
}
